body{
	margin: 0 auto;
	width: 1000px;
	height: 100%;
	padding-top: 150px;
	background:url(../images/newbackground.jpg) #000 center top no-repeat;
	background-size: 1500px 1000px;
}

header h1{
	float:left;
	width: 100px;
	color:lightgreen;	
	padding-left: 40px;
	padding-top: 10px;
	margin-right: 180px;
}

#topHeader {
	float: left;
	width: 1000px;
	height: 250px;
	background: url(../images/background3.jpg);
	border-top-left-radius: 100px 90px;
	border-top-right-radius: 100px 90px;
	box-shadow: #F2F973 0px 0px 100px;
}

#mainSection {
	float: left;
	width: 1000px;
	background-color: #F2F973;
	background:url(../images/tab_top.png) top left repeat-y, 
	url(../images/tab_top.png) top left repeat-x, url(../images/background2.jpg);
}

#newProduct {
	float: left;
	width: 1000px;
	background-color: #F2F973;
	background:url(../images/tab_top.png) top left repeat-y, 
	url(../images/tab_top.png) top left repeat-x, url(../images/background2.jpg);
}

#quickLinks{
float: left;
	width: 1000px;
	background-color: #F2F973;
	background:url(../images/tab_top.png) top left repeat-y, 
	url(../images/tab_top.png) top left repeat-x, url(../images/background2.jpg);
	}
	
#documentFooter {
	float: left;
	width: 1000px;
	background-color: #17028C;
	height: auto;
	margin-top: 0px;
	padding-top: 40px;
	text-align: center;
	font-family: Georgia;
	color: #666;
	background: url(../images/background3.jpg);
	border-bottom-right-radius: 100px 100px;
	border-bottom-left-radius: 100px 100px;
}

#mainSection  section{
	float: left;
	width: 650px;
	height: 295px;
	padding-left: 35px;
	padding-right: 10px;
}

#mainSection article{
	float: right;
	width: 305px;
	height: 295px;
	background:url(../images/tab_top.png) top left repeat-y, url(../images/article_bg.png);
}

#mainNavigation{
	float:left ;
	height: 240px;
	width: 670px;
	margin-top:10px;
}

#mainNavigation ul {
	list-style-type: none ;
	margin-left:0px;
}

#mainNavigation ul li{
	float: left ;
	height: 200px ;
	display:inline ;
}





#mainNavigation ul li a{
	float:left;
	height: 200px;
	text-decoration: none;
}

#mainNavigation ul li a:link, #mainNavigation ul li a:visited  {
	background:url(../images/nav_bg.jpg) top left repeat-x ;
	padding-top: 30px ;
	margin-left:4px;
	margin-right:5px;
	font-family: 'Ubuntu Condensed', sans-serif;
	color:#FFF;
	font-size:16px;
	transition: background-color 1s linear; 
}

#mainNavigation ul li a:hover{
	background:url(../images/nav_bg2.jpg) #000 top left repeat-x; 
}


#mainSection article ul{ 
	list-style-type:none; 
}

#mainSection article ul li a:link, article a:visited{ 
	font-family: 'Ubuntu Condensed', sans-serif;	color:#FFF; 
	font-size:22px; 
}

#mainSection article ul li a:hover{
	color:#00c2f3; 
}

article .subTitle{
	font-family: 'Ubuntu Condensed', sans-serif;
	color:lightgreen;	
	padding-left: 30px;
	font-size:xX-large;
}

section .subTitle{
	font-family: 'Ubuntu Condensed', sans-serif;
	color:lightgreen;

}

p.Ubuntu_white_22{
	font-family: 'Ubuntu Condensed', sans-serif;
	color:mediumseagreen;
	padding-left: 40px;
	font-size:x-large;
}

p.Ubuntu_white_16{
	font-family: 'Ubuntu Condensed', sans-serif;
	color:FFF;	
	font-size:large;
}
