
body{background: #ddd;overflow-x: hidden;}
#bd{width: auto;margin: 100px auto;max-width: 960px; }

/* module: sliders */
#sliders{
    border-radius: 5px;
    height:425px;
    box-shadow: 1px 1px 4px #666;
    padding: 1%;
    background: #fff;
}
#overflow{
    width: 100%;
    overflow: hidden;
}
/*设定图片容器的大小，500%刚好给5张图片使用*/
#sliders .inner{
    width: 500%;
    transiton: all 1s linear;
    -webkit-transition: all 1s linear;
}
#sliders article{
    float: left;
    width: 20%;
}

/*这里是设置图片
-webkit-transform: translateZ(0);位定义角度，这里是定义 3D 转换，只是用 Z 轴的值。
*/
#sliders article .info{
    position: absolute;
  
    opacity: 0;
    padding: 30px;
    color: #666;
    font-family: Arial;
    transition: opacity 0.1s ease-out;
    -webkit-transform: translateZ(0);
    -webkit-transition: opacity 0.1s ease-out;
}

/*这里是设置图片显示的名字和连接*/
#sliders article .info h1{
    font-size: 22px;    
    font-weight: bold;
    margin: 0 0 5px;
}
#sliders article .info a{
    color: #666;
    text-decoration: none;
}

/* module: controls */
#controls{
    height: 20px;
    width: 100%;
    margin-top: -26%;
}
#controls label{
    display: none;
    width: 50px;
    height: 50px;
    opacity: 0.3;
    cursor: pointer;    
}
#controls label:hover{
    opacity: 1;
}

/* module: active */
#active{
    width: 100%;
    margin-top: 22.5%;
    text-align: center;
}
#active label{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #bbb;
    border-color: #777;
}
#active label:hover{
    background: #ccc;
}

/* input checked change style */
/* 如果slider1被需要选择了，那么我要在#active label:nth-child(1)设定为黑点*/
#slider1:checked ~ #active label:nth-child(1),
#slider2:checked ~ #active label:nth-child(2),
#slider3:checked ~ #active label:nth-child(3),
#slider4:checked ~ #active label:nth-child(4),
#slider5:checked ~ #active label:nth-child(5){
    background: #333;
}

/* 如果slider1被需要选择了，那么我要在#controls label:nth-child(5)放置我的prev.jpg */
#slider1:checked ~ #controls label:nth-child(5),
#slider2:checked ~ #controls label:nth-child(1),
#slider3:checked ~ #controls label:nth-child(2),
#slider4:checked ~ #controls label:nth-child(3),
#slider5:checked ~ #controls label:nth-child(4){
    display: block;
    float: left;
    background: url(../img/prev.jpg) no-repeat;
    margin-left: -70px;
}

/* 如果slider1被需要选择了，那么我要在#controls label:nth-child(2)放置我的next.jpg */
#slider1:checked ~ #controls label:nth-child(2),
#slider2:checked ~ #controls label:nth-child(3),
#slider3:checked ~ #controls label:nth-child(4),
#slider4:checked ~ #controls label:nth-child(5),
#slider5:checked ~ #controls label:nth-child(1){
    display: block;
    float: right;
    background: url(../img/next.jpg) no-repeat;
    margin-right: -70px;
}

/* 如果slider1被需要选择了，那么我要在 #sliders article:nth-child(1)下class为info的div添加样式
opacity 为不透明

transition 属性是一个简写属性，用于设置四个过渡属性：
	transition-property	规定设置过渡效果的 CSS 属性的名称。
	transition-duration	规定完成过渡效果需要多少秒或毫秒。
	transition-timing-function	规定速度效果的速度曲线。
	transition-delay	定义过渡效果何时开始。
	
-webkit-transition:是以防对方的浏览器是safari
*/
#slider1:checked ~ #sliders article:nth-child(1) .info,
#slider2:checked ~ #sliders article:nth-child(2) .info,
#slider3:checked ~ #sliders article:nth-child(3) .info,
#slider4:checked ~ #sliders article:nth-child(4) .info,
#slider5:checked ~ #sliders article:nth-child(5) .info{
    opacity: 1;
    transition: all 0.6s ease-out 1s;
    -webkit-transition: all 0.6s ease-out 1s;
}


/*这里就是图片转换的秘密，每当2号slider被选中的时候，所有图片会会向左移动100%，那么这样就能刚刚显示到2号 slider了*/
#slider1:checked ~ #sliders .inner{
    margin-left: 0;
}
#slider2:checked ~ #sliders .inner{
    margin-left: -100%;
}
#slider3:checked ~ #sliders .inner{
    margin-left: -200%;
}
#slider4:checked ~ #sliders .inner{
    margin-left: -300%;
}
#slider5:checked ~ #sliders .inner{
    margin-left: -400%;
}







